<header>
  <nav class="navbar navbar-expand-xl bg-body-tertiary">
    <div class="hamburger-icon">
      <img src="assets/images/hamburger-icon.png" alt="hamburger-icon" />
    </div>
    <a class="navbar-brand navbar-left p-0 me-auto" href="#">
      <img
        src="assets/images/business-logo.png"
        alt="business-logo"
        class="d-inline-block align-text-top"
      />
      <div class="d-inline-block">
        <p class="store-name m-0">Burger King</p>
        <p class="store-location m-0">Uptown Mall</p>
      </div>
    </a>
    <ul class="navbar-right d-flex m-0 p-0">
      <li class="nav-item">
        <img src="assets/images/fullscreen-icon.png" alt="" />
      </li>
      <li class="nav-item">
        <img src="assets/images/bell-icon.png" alt="" />
      </li>
      <li class="nav-item dropdown-item">
        <img src="assets/images/profile-img.png" alt="profile-img" />
      </li>
    </ul>
  </nav>
</header>
